@import url("constant.css");
@import url("navbar.css");

h1,
h2,
h3,
h4 {
    font-family: var(--font-stack);
}

.about-us {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    min-height: 400px;
    padding: 5%;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.WfYCtSbgu73EPXZEqVp30wHaEK%26pid%3DApi&f=1&ipt=99186fa01916c1abf80c8a15a31c2e5ad2bf94db9845670c9a59d1a466091445&ipo=images");
    background-repeat: no-repeat;
    background-size: 100% 400px;
    width: 100%;
}

.about-us h1 {
    text-align: center;
    color: white;
    animation: magic-about-us 2s infinite;
}

@keyframes magic-about-us {
    25% {
        font-style: italic;
    }

    75% {
        font-weight: bold;
    }
}
