@import url("constant.css");
@import url("navbar.css");
@import url("car_container.css");{}

h1,
h2,
h3,
h4 {
    font-family: var(--font-stack);
}

.about-us, .summary-container {
    display: flex;
    background-color: var(--secondary-color);
    padding: 5%;
    background-repeat: no-repeat;
    background-size: 100% 400px;
    width: 100%;
    align-items: center;
}

.about-us {
    min-height: 400px;
    justify-content: center;
}

.summary-container {
    flex-direction: column;
    min-height: 200px;
    color: white;
}

.summary-container h3 {
    padding: 10px;
    text-align: center;
    color: white;
}

.about-us h1 {
    text-align: center;
    color: white;
    animation: magic-about-us 2s infinite;
}

@keyframes magic-about-us {
    25% {
        font-style: italic;
    }

    75% {
        font-weight: bold;
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    background-color: var(--primary-color);
    color: white;
}

footer * {
    text-align: center;
}
